body{
	font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
}
.overlay-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  z-index: 88;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
}
.home-header {
  border-bottom: 1px solid #E7E7E7;
  padding: 10px 0;
  position: relative;
}
.logo {
  color: #28a745;
  padding-top: 10px;
  max-width: 190px;
}

.home-header .header-menu{
	border-top:1px solid #E7E7E7;
	border-bottom:1px solid #E7E7E7;
}
.home-header .logo-1{
	display:none;
}
.home-header .menu-inner{
	display:inline-block;
	position:relative;
}
.home-header .menu-inner:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 2px;
  height: 16px;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-header .menu-inner ul li {
    display: inline-block;
}
.home-header .menu-inner ul li a {
    color: #00a651;
    font-size: 17px;
    font-weight: 600;
    display: block;
    padding-right: 20px;
    text-decoration: none;
}
.home-header .Login-button {
    margin-left: 15px;
}
.home-header .Login-button a {
    color: #00a651;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #00a651;
    border-radius: 35px;
    width: 115px;
    display: inline-block;
    text-align: center;
    -webkit-transition: .4s;
    transition: .4s;
    text-decoration: none;
}
.home-header .Login-button a:not(:last-child) {
    margin-right: 10px;
}
.home-header .Login-button a:last-child {
    color: #fff;
    background: #00a651;
    border-color: #00a651;
}
.home-header .menubar {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}
.home-header .menubar .image {
    margin-right: 15px;
}
.home-header .menubar .image img:first-child {
    display: block;
}
.home-header .menubar .image img:last-child {
    display: none;
}
.home-header .menubar .icon span {
    display: block;
    background: #ed1c24;
    width: 25px;
    height: 2px;
    margin: 5px 0;
}
.ofcanvas-menu {
    position: fixed;
    right: -310px;
    background: #4E4F4F;
    top: 0;
    height: 100%;
    z-index: 999;
    width: 310px;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    padding-bottom: 30px;
}
.ofcanvas-menu.pre-login {
    padding-top: 56px;
    overflow-y: auto;
}
.ofcanvas-menu.active {
    right: 0;
    overflow-y: auto;
}
.ofcanvas-menu.pre-login {
    padding-top: 56px;
    overflow-y: auto;
}
.ofcanvas-menu .close-icon {
    position: absolute;
    right: 25px;
    top: 25px;
    color: #00a651;
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
}
.ofcanvas-menu.pre-login .close-icon {
    line-height: 1;
}
.ofcanvas-menu.pre-login .canvs-menu {
    margin-top: 0;
}
.ofcanvas-menu .canvs-menu ul li {
    display: block;
}
.ofcanvas-menu.pre-login .canvs-menu ul li {
    padding-left: 30px;
    padding-right: 30px;
}
.ofcanvas-menu .canvs-menu ul li a {
    color: #00a651;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 15px 30px;
    display: block;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
.ofcanvas-menu.pre-login .canvs-menu ul li a {
    padding-left: 0;
    padding-right: 0;
}
.ofcanvas-menu.pre-login .canvs-menu ul li .menu-action {
    margin-bottom: 20px;
    width: calc(50% - 10px);
}
.ofcanvas-menu.pre-login .canvs-menu ul li .button {
    background-color: white;
    border-radius: 5px;
    color: #ed1c24;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.ofcanvas-menu.pre-login .canvs-menu ul li .button.login-button {
    background-color: white;
    color: #ed1c24;
}
.home-header.sticky {
  position: fixed;
  z-index: 87;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
  background: #fff;
  border-bottom: none;
}
/************ Login **********/
.login-signup {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  padding-top: 50px;
}
.login-signup .login-signup-wrapper {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 4%);
  box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 4%);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.login-signup .login-signup-wrapper .login-signup-header {
  padding: 30px;
}
.login-signup .login-signup-wrapper .login-signup-header h3 {
  color: #202020;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.login-signup .login-signup-wrapper .login-signup-header p {
  color: #797979;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.login-signup .login-signup-wrapper .login-signup-header p a {
  color: #00a651;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.login-by-social .social-button {
  background-color: transparent;
  border-radius: 35px;
  color: white;
  height: 50px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 260px;
}
.login-by-social {
  border-bottom: 1px solid #e8e8e8;
  padding: 0 30px 30px;
}
.login-by-social .social-button:not(:last-child) {
  margin-bottom: 10px;
}
.login-by-social .social-button.facebook {
  background-color: #3b5998;
}
.login-by-social .social-button span:first-child {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 20px;
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 40px;
}
.login-by-social .social-button span:last-child {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid rgba(255,255,255,0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(100% - 40px);
  flex-basis: calc(100% - 40px);
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: calc(100% - 40px);
  padding-left: 13px;
  padding-right: 15px;
  white-space: nowrap;
}
.login-by-social .social-button.google {
    background-color: #C20806;
}
.login-signup .login-signup-wrapper .login-with-credentials {
  padding: 30px 85px;
}
.login-with-credentials .control-label {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.login-with-credentials .form-control{
	height: 60px;
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-control-label {
  margin-bottom: 0;
}
.login-with-credentials .custom-control.custom-checkbox .custom-control-label {
  color: #424242;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}
.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
}
.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url(../images/tick.svg);
}
.custom-control-label::after,.custom-control-label::before {
  background-color: transparent;
  border: 1px solid #afafaf;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 20px;
  outline: none;
  top: calc(50% - 10px);
  width: 20px;
}
.login-with-credentials .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #00a651;
  border-color: #00a651;
}
.login-with-credentials .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label {
  color: #00a651;
}
.fogot-password {
  color: #797979;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.login-with-credentials .login-button {
  background-color: #00a651;
  border: 2px solid #00a651;
  height: 60px;
  border-radius: 35px;
}
.divider p {
  text-align: center; 
  border-bottom: 1px solid #ddd;
  line-height: 0.1em;
  margin: 20px 0 20px;
} 
.divider	p span { 
  background:#fff; 
  padding:0 10px; 
}
.login-with-credentials .form-group .custom-control.custom-radio {
    margin-bottom: 25px;
    padding-left: 0;
}
.login-with-credentials .form-group .custom-control.custom-radio .custom-control-label {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #afafaf;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 55px;
    padding-left: 50px;
}
.login-with-credentials .form-group .custom-control.custom-radio .custom-control-label:before {
    background-color: white;
    border: 1px solid #afafaf;
    border-radius: 50%;
    height: 20px;
    left: 20px;
    top: calc(50% - 10px);
    width: 20px;
}
.login-with-credentials .form-group .custom-control.custom-radio .custom-control-label:after {
    background-color: transparent;
    background-image: none;
    border: 4px solid white;
    border-radius: 50%;
    height: 18px;
    left: 21px;
    top: calc(50% - 9px);
    width: 18px;
}
.login-with-credentials .form-group .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label {
    border-color: #ed1c24;
    color: #ed1c24;
}
.login-with-credentials .form-group .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
    border-color: #ed1c24;
}
.login-with-credentials .form-group .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
    background-color: #ed1c24;
}
/********** Footer ***********/
.footer-area {
  background: #007b3c;
  padding: 60px 0;
}
.copyright-area {
  background: #007b3c;
  padding: 20px 0;
  border-top: 1px solid #fff;
}
.footer-area .widget-item h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 35px;
}
.footer-area .widget-item a {
  display: block;
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
}
.footer-social a {
  display: inline-block;
  color: #fff;
  background: transparent;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 17px;
  margin-right: 10px;
  border: 1px solid #fff;
}
.copyright-area .widget-link ul li {
    display: inline-block;
    margin-right: 5px;
}
.copyright-area .widget-link p {
    color: #9F9F9F;
    font-size: 14px;
    margin-bottom: 5px;
}
.icon-box {
    text-align: center;
    margin-top: 45px;
    position: relative;
}

.icon-box-circle {
    background-color: #fff;
    width: 50%;
    height: 60px;
    z-index: 100;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    margin-bottom: 35px;
}
.icon-box-circle-inner {
    font-size: 72px;
    color: #ccc;
    position: relative;
    width: 60px;
    margin: 0 auto;
    display: inline-block;
}
.icon-box-check {
  background-color: #ed1c24;
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 18px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  animation: circle-box-anim 2s infinite;
  transition: 0.4s;
  color: #fff;
  font-weight: 500;
  position: absolute;
  bottom: -3px;
  right: -10px;
  animation: checkAnim 2s infinite;
  box-shadow: 0 0 0 5px rgb(0 166 81 / 16%);
}
.counters-container {
  display: flex;
  flex-wrap: wrap;
}
.single-counter {
    flex: 1;
    text-align: center;
    position: relative;
    border-right: 1px solid #e0e0e0;
    margin-top: 80px;
}
.single-counter:last-child {
    border-right: 0;
}
.single-counter i {
    font-size: 64px;
    color: #ccc;
    position: absolute;
    top: -20px;
    transform: translateY(-100%);
    left: 0;
    right: 0;
}
.single-counter h3 {
    font-size: 36px;
    font-weight: 600;
    color: #00a651;
    margin-bottom: 7px;
}
.single-counter .counter-title {
    color: #ed1c24;
    padding-top: 0;
    display: inline-block;
    border-radius: 4px;
    font-size: 18px;
}
.testimonial-carousel.slick-initialized{
    display: block;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ed1c24;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    display: block;
    top: calc(50% - 15px);
    transform: translateY(-50%);
    transition: 0.3s;
    box-shadow: 0 3px 12px rgb(0 0 0 / 15%);
    z-index: 10;
}
.testimonial-carousel .slick-slide {
    margin: 0 20px 30px 20px;
    opacity: 0;
    transition: 0.4s;
    pointer-events: all;
}
.testimonial-carousel .slick-slide.slick-active {
    opacity: 1;
    filter: none;
    pointer-events: all;
}
.testimonial-box {
    background: transparent;
    border-radius: 6px;
    padding: 45px;
    padding-top: 35px;
    color: #888;
    position: relative;
    margin: 70px 0 0;
    box-shadow: none;
    transition: 0.4s;
    cursor: grab;
    text-align: center;
    transform: scale(0.8);
}
.testimonial-box:before {
    content: "\f10e";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: -30px;
    left: 0;
    font-size: 55px;
    transform: translateY(-100%);
    color: #00a651;
    opacity: 0;
    transition: 0.3s;
}
.testimonial-carousel .slick-slide.slick-active .testimonial-box:before {
    opacity: 1;
}
.testimonial-carousel .slick-slide.slick-active .testimonial-box {
    transform: scale(1);
}
.testimonial-carousel .slick-slide.slick-active .testimonial-box {
    background: #fff;
    color: #666;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
}
.testimonial-avatar {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    left: 0;
    right: 0;
}
.testimonial-avatar img {
    width: 70px;
    display: inline-block;
    text-align: center;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}
.testimonial-author {
    display: block;
    width: 100%;
    padding: 20px 0 15px 0;
    text-align: center;
    margin: 0 auto;
}
.testimonial-author h4 {
    display: block;
    width: 100%;
    font-size: 18px;
    padding-top: 0;
    color: #333;
    font-weight: 600;
}
.testimonial-author span {
    display: block;
    padding-top: 0;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    padding: 3px 12px;
    margin: 5px 0 10px 0;
    background-color: #ed1c24;
    color: #fff;
    box-shadow: 0 2px 10px rgb(102 103 107 / 25%);
}
.testimonial-author span {
    box-shadow: 0 2px 10px rgb(42 65 232 / 25%);
}
.testimonial, .testimonial p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #808080;
    line-height: 32px;
}
.slick-prev:before, .slick-next:before {
    font-family: "Font Awesome 5 Pro";
    font-size: 26px;
    line-height: 1;
    opacity: 1;
    transition: 0.3s;
    position: relative;
    color: #fff;
}
.slick-prev:before {
    content: '\f053';
    left: -1px;
}
.slick-next:before {
    content: '\f054';
    right: -1px;
}
.slick-dots {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.slick-dots li {
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    position: relative;
    outline: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    opacity: 1;
    border-radius: 50%;
    line-height: 0;
    box-shadow: inset 0 0 0 2px #c0c0c0;
    transition: all 0.3s;
}
.slick-dots li.slick-active {
    box-shadow: inset 0 0 0 6px #c0c0c0;
    transition: all 0.3s;
}
/******** Job Listing ********/
.job-listing {
  display: block;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
  margin-bottom: 35px;
  background-color: #fff;
  transition: 0.3s;
  position: relative;
}
.job-listing:hover {
  -webkit-box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 25%);
	box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 25%);
   transform: translateY(-4px);
}
.job-listing-details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 35px;
  padding-bottom: 32px;
}
.job-listing .job-listing-description {
  flex: 1;
  padding-top: 3px;
}
.job-listing h4.job-listing-company {
  font-size: 16px;
  color: #808080;
}
.verified-badge {
  position: relative;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-color: #00a651;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  font-weight: 500;
}
.job-listing-company .verified-badge, .job-listing .job-listing-footer ul li .verified-badge {
  position: relative;
  display: inline-block;
  transform: scale(0.7);
  top: 2px;
  margin-left: -2px;
}
.verified-badge:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  font-size: 16px;
  color: #fff;
  position: relative;
  top: 0px;
  line-height: 27px;
}
.job-listing h3.job-listing-title {
  font-size: 20px;
  color: #333;
  line-height: 30px;
}
.job-listing .job-listing-description p {
  margin: 15px 0 0 0;
  padding: 0;
  color: #666;
}
span.bookmark-icon {
  font-size: 20px;
  position: absolute;
  z-index: 101;
  right: 35px;
  top: 35px;
  cursor: pointer;
  background-color: #eee;
  color: #c0c0c0;
  display: block;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  transition: all 0.4s;
  line-height: 27px;
}
.bookmark-icon:before {
  transition: transform 0.4s cubic-bezier(.8,-.41,.19,2.5);
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  top: 6px;
  content: "\f004";
}
.job-listing .job-listing-footer {
  background-color: #f9f9f9;
  padding: 20px 35px;
  border-radius: 0 0 4px 4px;
  position: relative;
}
.job-listing .job-listing-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.job-listing .job-listing-footer ul li {
  display: inline-block;
  margin-right: 14px;
  color: #777;
}
.job-listing .job-listing-footer ul li i {
  position: relative;
  top: 1px;
  margin-right: 3px;
  color: #777;
}
.job-listing .job-listing-footer ul li i.map-marker {
  margin-right: 0;
}
.pagination ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.pagination ul li a, .pagination-next-prev ul li a {
    padding: 10px 0;
    border-bottom: none;
    display: inline-block;
    color: #333;
    background-color: transparent;
    font-weight: 700;
    margin: 0;
    line-height: 22px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    font-size: 14px;
    text-align: center;
    float: left;
}
.pagination ul li a {
    border-radius: 4px;
    width: 44px;
    height: 44px;
    padding: 0;
    line-height: 44px;
}
.pagination .pagination-arrow a {
    background-color: #f0f0f0;
}
.pagination ul li a.current-page {
    box-shadow: 0 2px 8px rgb(42 65 232 / 25%);
}
.pagination ul li a.current-page {
    background-color: #ed1c24;
    color: #fff;
    box-shadow: 0 2px 8px rgb(102 103 107 / 25%);
}
.notify-box {
    display: block;
    width: 100%;
    background-color: #e3e3e3;
    border-radius: 4px;
    padding: 5px 25px;
    position: relative;
    line-height: 28px;
    min-height: 59px;
}
.switch-container {
    display: inline-block;
    cursor: pointer;
}
.notify-box .switch-container {
    top: 1px;
    position: relative;
}
.sort-by {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    float: right;
}
.selectpicker{
	background: transparent;
	border: 0;
}
.cursor-pointer{
  cursor: pointer;
}
.milestone-btn{
  font-size: 14px;
  font-weight: 400;
  padding: 7px;
  border-radius: 35px;
  width: 80px;
  display: inline-block;
  color: #fff;
  font-weight: 600;
}
.accept-btn{
  background-color: #00a651;
  border: 1px solid #00a651;
}
.reject-btn{
  background-color: #ed1c24;
  border: 1px solid #ed1c24;
}
.chat-btn{
  background-color: #00a651;
}
.chat-btn:hover{
  background-color: #00a651;
}
.messageCount{
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 83%;
  font-size: 10px;
}
/*Contact Us*/
.contact-location-info {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 14px rgb(0 0 0 / 3%);
}
.contact-location-info .contact-address, .contact-location-info #single-job-map-container {
  flex: 1;
}
.contact-location-info .contact-address {
  border: 1px solid #e0e0e0;
  border-right: 0;
  border-radius: 4px 0 0 4px;
}
.contact-location-info .contact-address > ul {
  align-self: center;
  padding: 40px;
  margin: 0;
  list-style: none;
  font-size: 18px;
  color: #808080;
}
.contact-location-info .contact-address ul li {
  padding: 2px 0;
  list-style: none;
}
.contact-address-headline {
  color: #333;
  font-weight: 600;
}
.contact-address-headline:after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #ed1c24;
  position: relative;
  display: block;
  margin: 15px 0;
  border-radius: 3px;
}
.contact-location-info .freelancer-socials {
  margin-top: 10px;
  margin-left: -8px;
  transform: scale(0.9);
}
.freelancer-socials ul {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  margin: 0 0 -5px -8px;
}
.freelancer-socials ul li {
  display: inline-block;
  font-size: 24px;
}
.freelancer-socials ul li a {
  color: #00a651;
  padding: 0 8px;
}
.input-with-icon-left {
  position: relative;
}
#contact div input {
  margin-bottom: 22px;
}
#contact input.with-border,#contact input[type="text"].with-border, #contact input[type="password"].with-border, #contact input[type="email"].with-border, #contact input[type="number"].with-border, #contact textarea.with-border, #contact select.with-border {
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 5%);
}
.input-with-icon-left i {
  position: absolute;
  top: 0;
  color: #a0a0a0;
  text-align: center;
  line-height: 48px;
  width: 48px;
  height: 50px;
  font-size: 19px;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: block;
  border-radius: 4px 0 0 4px;
}
.input-with-icon-left input {
  padding-left: 65px;
}
.submit.button{
  background-color: #00a651;
  border: 2px solid #00a651;
  height: 60px;
  border-radius: 35px;
}
.rating-star .fa-star{
  color: #fdd003;
}